#single-course-page {
    .custom-card {
        padding: 0; 

        img {
            border-radius: 5px;
        }
    }

    #course-info {
        .course-header {
            font-weight: 800;
        }

        .course-info,
        .course-cost,
        .course-duration {
            p {
                font-size: 13px;
                line-height: 2;
            }
        }
    }

}