#weapon_throwing_page {
    .backgroudTitle {
        margin-top: 3%;
        margin-bottom: 2%;
        text-align: center;
        background: #007cba;
        padding: 10px;
        color: #ffffff;
    }
    .containerContentRow {
        margin-right: 0px !important;
        margin-left: 0px !important;

        p {
            text-align: center;
        }
    }
}