* {
    margin: 0px;
    padding: 0px;
}

/* Colors */

$color-primary: rgb(24, 11, 138);

$color-red: #FF0000;
$color-green: #00FF00;
$color-blue: #0000FF;
$color-white: #ffffff;
$color-black: #000000;


$color-ash: #949494;
$color-light-ash: #d4d4d4;
$footer-bg: rgb(16, 9, 73);


/* Content */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    .full-border {
        border: 1px solid rgb(165, 165, 165);
    }

    a:hover {
        text-decoration: none;
    }
}

.divider  {
    border: 1px solid $color-light-ash;
}

 /* Nav bar */
#navbar {
    border-bottom: 1px solid rgb(221, 221, 221);;

    .navbar-brand {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 5px;
        margin-bottom: 5px;
        color: $color-primary;
    }

    .navbar-nav {
        .nav-item {
            margin-right: 10px;
        }
    }
}

/* Delivery Section  */

#delivery-info-section {
    form {
        label {
            font-size: 13px;
        }
        input {
            border-radius: 0%;
            font-size: 13px;
        }

        ::placeholder {
            color: $color-ash;
        }

        .required {
            color: $color-red;
        }

        .primary-btn {
            background-color: $color-black;
            color: $color-white;
            padding: 4px 15px 4px 15px;
            border-radius: 5px;
            border: none;
        }
    }
    .section-header {
        font-size: 15px;
        font-weight: bold;
    }

    .section-description {
        font-size: 11px;
        font-weight: 500;
        color: $color-ash;
    }

    .clearfix {
        p {
            font-size: 12px;
        }
    }

    .item-name {
        font-size: 10px;
    }

    table {
        font-size: 10px;
        td {
            padding: 0.30rem;
        }
    }

    #cart-icon {
        .cart-circle {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: none;
            background-color: $color-ash;
            box-shadow: 0px 10px 30px 0px rgba(19, 19, 18, 0.555);
        }

        .m-auto {
            position: relative;
            top: 16px;
            left: 22px;
        }

        .cart-circle:hover {
            background-color: rgb(184, 184, 184);
            transition: all 0.5s ease-in-out;

            i {
                font-size: 20px;
                transition: all 0.5s ease-in-out;
            }

            .m-auto {
                top: 17px;
                left: 21px;
                transition: all 0.5s ease-in-out;
            }
        }
    }
}

/* Footer  */

#footer {
    color: $color-white;
    .container-fluid {
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: $footer-bg;
        list-style: none;
        list-style-type: none;
    }

    #footer-header {
        h4 {
            font-size: 18px;
            padding-bottom: 12px;
            border-bottom: 2px solid $color-white;
        }

        p {
            font-size: 14px;
        }
    }
}











/* Responsive media queries  */

@media (max-width: 1200px) {
    #navbar {
        .navbar-brand {
            font-size: 25px;
            text-transform: uppercase;
            font-weight: 700;
        }

        .navbar-nav {
            .nav-item {
                margin-right: 7px;
                font-size: 13px;
            }
        }
    }
}

@media (max-width: 992px) {
    #navbar {
        .navbar-brand {
            font-size: 30px;
            text-transform: uppercase;
            font-weight: 700;
        }

        .navbar-nav {
            .nav-item {
                margin-right: 10px;
            }
        }
    }
}