/*=========================================================
Common Area | Common Area | Common Area | Common Area | 
=========================================================*/
* {
  margin: 0px;
  padding: 0px;
}

/*=========================================================
Colors | Colors | Colors | Colors | Colors | Colors | Colors
=========================================================*/
/*=========================================================
Body Content | Body Content | Body Content | Body Content | 
=========================================================*/
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body .full-border {
  border: 1px solid #a5a5a5;
}

body a:hover {
  text-decoration: none;
}

.relative {
  position: relative;
}

.divider {
  border-bottom: 2px solid #d4d4d4;
}

/*=========================================================
Nav bar | Nav bar | Nav bar | Nav bar | Nav bar | Nav bar 
=========================================================*/
#navbar {
  border-bottom: 1px solid #dddddd;
}

#navbar .navbar-brand {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #180b8a;
}

#navbar .navbar-nav .nav-item {
  margin-right: 10px;
}

/*=========================================================
Footer | Footer | Footer | Footer | Footer | Footer | Footer
=========================================================*/
#footer {
  color: #ffffff;
}

#footer .container-fluid {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #100949;
  list-style: none;
  list-style-type: none;
}

#footer #footer-header h4 {
  font-size: 18px;
  padding-bottom: 12px;
  border-bottom: 2px solid #ffffff;
}

#footer #footer-header p {
  font-size: 14px;
}

/*=========================================================
Common Area End | Common Area End | Common Area End
=========================================================*/
/*=========================================================
Chack-out page Delivery Section | Chack-out page Delivery Section
=========================================================*/
#delivery-info-section form label {
  font-size: 13px;
}

#delivery-info-section form input {
  border-radius: 0%;
  font-size: 13px;
}

#delivery-info-section form ::-webkit-input-placeholder {
  color: #949494;
}

#delivery-info-section form :-ms-input-placeholder {
  color: #949494;
}

#delivery-info-section form ::-ms-input-placeholder {
  color: #949494;
}

#delivery-info-section form ::placeholder {
  color: #949494;
}

#delivery-info-section form .required {
  color: #FF0000;
}

#delivery-info-section .primary-btn {
  background-color: #000000;
  color: #ffffff;
  padding: 4px 15px 4px 15px;
  border-radius: 5px;
  border: none;
}

#delivery-info-section .section-header {
  font-size: 15px;
  font-weight: bold;
}

#delivery-info-section .section-description {
  font-size: 11px;
  font-weight: 500;
  color: #949494;
}

#delivery-info-section .clearfix p {
  font-size: 12px;
}

#delivery-info-section .item-name {
  font-size: 10px;
}

#delivery-info-section table {
  font-size: 10px;
}

#delivery-info-section table td {
  padding: 0.30rem;
}

#delivery-info-section #cart-icon .cart-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #949494;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(19, 19, 18, 0.555);
          box-shadow: 0px 10px 30px 0px rgba(19, 19, 18, 0.555);
}

#delivery-info-section #cart-icon .m-auto {
  position: relative;
  top: 16px;
  left: 22px;
}

#delivery-info-section #cart-icon .cart-circle:hover {
  background-color: #b8b8b8;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#delivery-info-section #cart-icon .cart-circle:hover i {
  font-size: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#delivery-info-section #cart-icon .cart-circle:hover .m-auto {
  top: 17px;
  left: 21px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#delivery-info-section p {
  font-size: 12px;
}

/*=========================================================
Chack-out page End | Chack-out page End | Chack-out page End
=========================================================*/
/*=========================================================
Index page End | Index page End | Index page End | Index
=========================================================*/
#home {
  background: url(../images/main-bg.jpg) center;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#home h1, #home h3 {
  color: #ffffff;
}

#home .overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(4, 7, 29, 0.644);
}

#home .fullscreen {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#home .fullscreen .squre-box {
  border: 1px solid #ffffff;
  width: 60%;
  margin: 0 auto;
  padding: 15px 5px 15px 5px;
}

#home .fullscreen i {
  display: none;
}

#home .fullscreen .banner-content .squre-box:hover {
  line-height: 1.8;
  background-color: #9c9c9c8a;
  letter-spacing: 1.5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#home .fullscreen .banner-content .squre-box:hover i {
  display: inline;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#home .fullscreen .banner-content .squre-box::after {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#home .fullscreen .banner-content .squre-box::after i {
  display: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/*=========================================================
Responsive | Responsive | Responsive | Responsive | Responsive
=========================================================*/
@media (max-width: 1200px) {
  #navbar .navbar-brand {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
  }
  #navbar .navbar-nav .nav-item {
    margin-right: 7px;
    font-size: 13px;
  }
}

@media (max-width: 992px) {
  #navbar .navbar-brand {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
  }
  #navbar .navbar-nav .nav-item {
    margin-right: 10px;
  }
}
